body{
    margin: 0;
    padding: 0;
}
header h1{
    font-size: 38px;
    padding-top: 25px;
    
    text-align: center;
}
.kiemelt{
    font-size: 26px;
    font-weight: bolder;
}
p{
    font-size: 18px;
}
.menu{
    color:white;
    background-color: blue;
    border-bottom: 5px solid black;
    height: 90px;
    font-size: 18px;
}
.letoltes{
    border-collapse: collapse;
    border: 1px solid #1AACAC;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #1AACAC;
    border-radius: 5%;
    width: 100px;
    text-align: center;
    font-weight: bold;
}
.jobbra{
    text-align: end;
}
.footer_mod_kep{
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}
.foszoveg{
    margin-left: 250px;
    margin-top: 390px;
    color: blue;
}
.foszoveg h2{
    color: blue;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.gomb_body{
    background-color: #1AACAC;

}
.vonal{
    border-bottom: 3px solid black;
}
.bemutatovideo{
    height: 650px;
    width: 700px;
    margin-left: 20px;
    border-collapse: collapse;
    border-radius: 5%;
    margin-top: 30px;
}
footer{
    border-collapse: collapse;
    border-top: 3px solid black;
    background-color: #5D9DF0;
}
.authors{
    text-decoration: none;
    font-size: 14px;
    margin: 2px;
    color: black;
    text-align: center;
}